body{
    margin: 0;
    height: 100%;
}
#listas{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
}    

#Lista1{
    width: 50%;
    height:100vh;
    background-color: rgb(1, 1, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Lista2{
    width: 50%;
    height: 100vh;
    background-color: rgb(135, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


button{
    height: 50px;
    width: 100px;
    background-color: brown;
    color: white;
    cursor: pointer;
    border: none;
    transition: 1s;
}
button:hover{
    background-color: rgb(114, 29, 29);
    transition: 1s;
}

.texCant{
    display: flex;
    flex-direction: row;
}

#textoVoto{
    display: none;
}

#textoVoto1{
    display: none;
}